body {
  background-color: #BBB;
}

#wrapper {
  background-color: #FFF;
  position: absolute;
  top: 5%;
  left: 5%;
  bottom: 5%;
  right: 5%;
  padding: 2em;
  padding-top: 1em;
}

#wrapper h1 {
  margin: 0;
}

#side_bar {
  z-index: 1000;
  position: fixed;
  left: 6%; 
  top: 6%;
  width: 180px;
  font-size: 18px;
  line-height: 2em;
}

#side_bar ul {
  list-style: none;
}

#side_bar a {
  color: #000;
  text-decoration: none;
}

#side_bar a:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}

#header {
  position: absolute;
  left: 180px; 
  top: 0;
  padding: 1em;
}

#content {
  position: absolute;
  left: 180px; 
  top: 110px;
  width: 85%;
  height: 70%;
  padding: 1em;
}

#log_in {
  width: 30%;
  position: absolute;
  left: 30%;
  text-align: center;
}

#log_in h3 {
  font-size: 3em;
}

.form-control {
  font-size: 18px;
  height: 100%;
}

#footer {
  font-size: 11px;
  position: absolute;
  bottom: 5%;
  left: 40%;
}

input[type='number'] {
  width: 3em;
}
