!!!
%html
  %head
    %title Soccer Polls
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/bootstrap-theme.min.css")
    %link(rel="stylesheet" href="css/style.css")
    %link(rel="javascript" href="js/bootstrap.min.js")
    %link(rel="javascript" href="js/npm.js")
  %body
    #wrapper
      #header
        %h1 Soccer Polls
        %h3 A Simple website for the Software Design and Architecture course.
 
      #content
        =yield
 
      #footer
        %p
          ITESM CEM, Software Design and Architecture, 2015 &copy
