#polls
  %h3 All scores
  -if locals[:scores]
    %table
      %tr
        %th="User&nbsp;&nbsp;&nbsp;"
        -locals[:scores][0].scores.count.times do |i|
          %th="P#{i + 1}&nbsp;&nbsp;&nbsp;"
        %th="Total"
      -locals[:scores].each do |u|
        %tr
          %td="#{u.name}&nbsp;&nbsp;&nbsp;"
          -u.scores.each do |s|
            %td=s
          %td=u.scores.reduce(:+)
