#polls
  %h3 All scores
  -if locals[:users]
    %table
      %tr
        %th="User&nbsp;&nbsp;&nbsp;"
        -locals[:poll_count].times do |i|
          %th="P#{i + 1}&nbsp;&nbsp;&nbsp;"
        %th="Total"
      -locals[:users].each do |u|
        %tr
          %td="#{u.username}&nbsp;&nbsp;&nbsp;"
          -u.picks.each do |p|
            %td=p.score
          -(locals[:poll_count] - u.picks.count).times do
            %td=0
          %td=u.total_score
