#polls
  %h3 All scores
  -if locals[:users]
    %table
      %tr
        %th="User&nbsp;&nbsp;&nbsp;"
        -locals[:poll_count].to_i.times do |i|
          %th="M#{i + 1}&nbsp;&nbsp;&nbsp;"
        %th="Total"
      -locals[:users].each do |u|
        %tr
          %td="#{u.name}&nbsp;&nbsp;&nbsp;"
          -u.picks.each do |p|
            %td=p.score
          %td=u.total_score
